body {
  height: 100%;
  font-family: $font-base;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  transition: $transition;

  &:hover {
    text-decoration: none;
    color: $hover-color;
    transition: $transition;
  }
}

.h1 {
  font-size: 60px;
  letter-spacing: 1px;
  color: $white;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 35px;
  }
}

.h2 {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 35px;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 2px;
    background: $hover-color;
  }
}

.tel {
  color: $white;
}

.section {
  padding: 80px 0;
}

.lg-outer .lg-image {
  max-height: 85%;
}

.lg-toolbar {
  background: transparent;
}
