.footer {
  padding: 50px 0 20px 0;
  background: $dark-color;
  margin-top: -6px;
  z-index: 10;
  position: relative;

  .menu {
    width: 100%;
    justify-content: center;
  }
}

.copyright {
  width: 100%;
  text-align: center;
  color: $white;
  font-weight: 100;
  margin-top: 50px;

  &__author {
    color: $white;
  }
}
