.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  padding: 10px 0;
  transition: $transition;

  &.header-scroll {
    position: fixed;
    top: 0;
    left: 0;
    background: $hover-color;
    transition: $transition;
    padding: 5px 0;

    .menu__link {
      padding: 5px 0;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
      &:hover {
        color: $dark-color;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

  }

  &__link {
    color: $white;
    font-weight: 200;
    transition: $transition;
    font-size: 20px;
    padding: 20px 0;

    @include media-breakpoint-down(sm) {
     padding: 0;
     font-size: 16px;
    }

    &:hover {
      color: $hover-color;
      transition: $transition;
      text-decoration: none;
    }
  }
}