$icomoon-font-path: "../icons" !default;

$icon-car: "\e900";
$icon-food: "\e901";
$icon-keys: "\e902";
$icon-pizza: "\e903";
$icon-snacks: "\e904";
$icon-wifi: "\e905";


@font-face {
  font-family: 'melhotel';
  src:  url('#{$icomoon-font-path}/melhotel.eot');
  src:  url('#{$icomoon-font-path}/melhotel.eot#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/melhotel.ttf') format('truetype'),
  url('#{$icomoon-font-path}/melhotel.woff') format('woff'),
  url('#{$icomoon-font-path}/melhotel.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'melhotel' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car {
  &:before {
    content: $icon-car;
  }
}
.icon-food {
  &:before {
    content: $icon-food;
  }
}
.icon-keys {
  &:before {
    content: $icon-keys;
  }
}
.icon-pizza {
  &:before {
    content: $icon-pizza;
  }
}
.icon-snacks {
  &:before {
    content: $icon-snacks;
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi;
  }
}
